//Header:
// 1. "Bookshelf" color svg fill from #000 on background: #F3F3F3;
// 2. Background from #fff on --text-color-main #111111
// 3. Shopping list+svg НЕАКТИВНА from --text-color-main: #111111; on --background-white: #ffffff;
// 4. home --text-color-main: #111111; on --background-white: #ffffff;

// Below HEADER background color from background: #f6f6f6; on --background-dark: #202024;

// All categories color from --accent-primary: #4f2ee8; on --accent-secondary: #eac645;
// hover,focus - from color: rgba(17, 17, 17, 0.6); on color: rgba(255, 255, 255, 0.6);

// Best Sellers color from --text-color-main: #111111; on --background-white: #ffffff
// Назви книг from --text-color-main: #111111; on --background-white: #ffffff
// see more color: #111111; on color: #FFFFFF;

// Shopping list:
// 1. Shopping слово color from --text-color-main: #111111; on --background-white: #ffffff
// 2. Контейнер для однієї книги background: #FFFFFF; on background: #111111;
// 3. text, крім назви категорії та імені автора color: #111111; on color: #FFFFFF;
// 4. amazon fill black on white
// стрілочки назад background: #B4AFAF; on background: #FFFFFF;
// Активна сторінка номер color: #FFFFFF; on color: #000000;
// Активна сторінка background: #111111; on background: #FFFFFF;
// Інша пагінація посередині сторінка номер color: #111111; on color: #FFFFFF;
// Інша пагінація посередині сторінка background: #D0D0D0; on --background-dark: #202024;
// Порожня сторінка text color: rgba(0, 0, 0, 0.6); on color: rgba(255, 255, 255, 0.6);

// modal інф про одну книгу:
// 1. background: #FFFFFF; on background: #202024;
// 2. text, крім імені автора color: #111111; on color: #FFFFFF;
// 3. amazon fill black on white
// 4. button background  #FFFFFF; on background: #202024;
// 5. Хрестик вихід black on white

// Модальне вікно при реєстрації backgorund and button:
// 1. backgorund from background: #F6F6F6; on background: #202024;
// 2. Color and border color: #111111; on color: #F6F6F6;
// 3. Sign up color from color: #F3F3F3; on color: #202024;
// 4. Sign up background color background: #111111; on background: #F6F6F6;

.dark-theme,
.dark-theme .about-book-modal {
  background-color: var(--background-dark);
}

.dark-theme .header__icon--bookshelf,
.dark-theme .paginationToStart__icon {
  fill: var(--svg-color);
}

.dark-theme .card-shopping__picture-amazon,
.dark-theme .modal-icon-amazon,
.dark-theme .icon-close-book {
  filter: brightness(0) invert(100%);
}

.dark-theme .container-header,
.dark-theme .card-shopping__container {
  background-color: var(--text-color-main);
}

.dark-theme .header__home-text,
.dark-theme .header__shopping-list-text,
.dark-theme .book-card__title,
.dark-theme .header-one,
.dark-theme .listCards__head,
.dark-theme .txt-book-modal,
.dark-theme .title-book-modal,
.dark-theme .card-shopping__head,
.dark-theme .card-shopping__shortDescription {
  color: var(--background-white);
}

.dark-theme .button {
  color: var(--background-white);
  &:hover,
  &:focus {
    color: var(--text-color-main);
  }
}

.dark-theme .add-storage-button,
.dark-theme .remove-modal-btn {
  color: var(--background-white);
  &:hover,
  &:focus {
    background-color: var(--accent-primary);
    color: var(--text-color-main);
  }
}

.dark-theme .btnPag {
  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.dark-theme .paginationOne,
.dark-theme .paginationTwo,
.dark-theme .paginationThree,
.dark-theme .paginationPoint {
  background-color: inherit;
  border-color: var(--background-white);
  color: var(--background-white);

  &:hover,
  &:focus {
    background-color: var(--background-white);
    border-color: var(--text-color-main);
    color: var(--text-color-main);
    fill: var(--text-color-main);
  }
}

.dark-theme .paginationToStart,
.dark-theme .paginationPrevEl {
  &:hover,
  &:focus {
    background-color: var(--accent-secondary);
  }
}

.dark-theme .menu-item-light {
  color: rgba(255, 255, 255, 0.6);
  text-transform: none;
  transition: color 0.5s ease, text-transform 0.5s ease;

  &:hover,
  &:focus {
    color: var(--accent-secondary);
    text-transform: uppercase;
  }
}

.dark-theme .shopping-list__emptyListDescription {
  color: rgba(255, 255, 255, 0.6);
}

.dark-theme .storage-description {
  color: rgba(255, 255, 255, 0.5);
}
