@import './variables/media';
@import './variables/colors';
// @import './variables/fonts';
@import './theme-light';
@import './theme-dark';

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
}

.support {
  width: 335px;
  height: 352px;
  padding-top: 24px;
  position: relative;
  margin-bottom: 40px;

  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    var(--accent-primary) 18.03%,
    var(--background-white) 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
  border-radius: 16px;

  @include tablet {
    width: 356px;
    height: 490px;
    margin-bottom: 0;
  }
}

.support-container {
  padding-left: 40px;
}

.support__title-container {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  height: 32px;
}

.support__title {
  color: var(--background-white);
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;

  font-size: 28px;
  line-height: 1.14%;
  letter-spacing: -0.04em;
}

.support__link {
  display: flex;
  align-items: center;

  &:hover > .support__number,
  &:focus > .support__number {
    color: var(--accent-secondary);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover > .support__img,
  &:focus > .support__img {
    filter: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.support__number {
  height: 18px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29%;
  letter-spacing: -0.04em;
  color: var(--background-white);
}

.support__img {
  filter: brightness(0) invert(100%);
}

.swiper-container {
  width: 159px;
  height: 188px;
  overflow: hidden;

  @include tablet {
    width: 159px;
    height: 292px;
  }
}

.swiper-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  &:hover,
  &:focus {
    border-right: 1px solid var(--accent-secondary);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

div.swiper-slide {
  display: flex;
  align-items: center;
}

a.swiper-button-next {
  z-index: 1 !important;
}

.swiper-button-next {
  width: 38px !important;
  height: 38px !important;
  position: absolute;
  transform: rotate(90deg);
  color: #4f2ee8 !important;

  background-color: #fff;
  border-radius: 50%;
  top: 320px !important;
  right: auto !important;
  left: auto !important;

  @include tablet {
    top: 440px !important;
  }
}

.swiper-button-next:after {
  font-size: 16px !important;
  font-weight: 900 !important;
}

// -----Switch-----

.header__switch {
  position: absolute;
  top: 15px;
  right: 15px;
}

* {
  margin: 0;
  padding: 0;
}
.switch-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  width: 100vw;
}
.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  &__input {
    display: none;
    &:checked + .switch__icon {
      background: linear-gradient(#4f2ee8, #686868);
      &:before {
        transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
      }
      &:after {
        transform: translate3d(20px, 2px, 0);
      }
    }
  }
  &__icon {
    position: relative;
    display: inline-block;
    max-width: 42px;
    min-width: 42px;
    min-height: 24px;
    max-height: 24px;
    background-color: #bebebe;
    border-radius: 22px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 38px;
      height: 20px;
      background: linear-gradient(#4f2ee8, #dcdcdc);
      border-radius: 11px;
      transform: translate3d(2px, 2px, 0) scaleX(1);
      transition: all 0.25s linear;
    }
    &:after {
      content: '';
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 11px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
      transform: translate3d(2px, 2px, 0);
      transition: all 0.2s ease-in-out;
    }
  }
  &__span {
    font-size: 14px;
    margin-left: 5px;
    font-weight: 400;
  }
}
