:root {
  --text-color-main: #111111;
  --text-color-secondary: #b4afaf;
  --background-dark: #202024;
  --accent-primary: #4f2ee8;
  --accent-secondary: #eac645;
  --background-white: #ffffff;
  --background-grey: #f6f6f6;
  --color-total-black: #000000;
  --svg-color: #f3f3f3;
}
