// DM Sans Bold-italic 700
@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: italic;
  src: url('/src/fonts/dmsans-bolditalic-webfont.woff');
  src: local(''),
    url('/src/fonts/dmsans-bolditalic-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-bolditalic-webfont.woff') format('woff');
}
// DM Sans Bold 700
@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-style: normal;
  src: url('/src/fonts/dmsans-bold-webfont.woff');
  src: local(''), url('/src/fonts/dmsans-bold-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-bold-webfont.woff') format('woff');
}
//DM Sans Medium-italic 500
@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: italic;
  src: url('/src/fonts/dmsans-mediumitalic-webfont.woff');
  src: local(''),
    url('/src/fonts/dmsans-mediumitalic-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-mediumitalic-webfont.woff') format('woff');
}
//DM Sans Medium 500
@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-style: normal;
  src: url('/src/fonts/dmsans-medium-webfont.woff');
  src: local(''), url('/src/fonts/dmsans-medium-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-medium-webfont.woff') format('woff');
}
//DM Sans Italic 400
@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: italic;
  src: url('/src/fonts/dmsans-italic-webfont.woff');
  src: local(''), url('/src/fonts/dmsans-italic-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-italic-webfont.woff') format('woff');
}
//DM Sans Regular 400
@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-style: normal;
  src: url('/src/fonts/dmsans-regular-webfont.woff');
  src: local(''), url('/src/fonts/dmsans-regular-webfont.woff2') format('woff2'),
    url('/src/fonts/dmsans-regular-webfont.woff') format('woff');
}
